*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* font-family: 'Poppins',sans-serif; */
} 

body{
  background-color: rgba(39, 142, 212, 0.048);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}


.nav-link{
  font-size: 17px;
}
/* Custom styles for the content container .content-container {
  padding-top: 80px; /* Adjust this value based on your navbar height
} */

.form-select.form-control {
  padding: 0.375rem 1.75rem; /* Adjust the padding as needed */
  line-height: 1.5;
  border-radius: 18px;
}


/*  */

/* Increase the z-index of the navigation bar */
.nav-menu {
  z-index: 1000;
}

/* .navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* 
.form-inline {
  margin-right: 20px;
}

/* For footer in Upload image, About ,Contact, Index pages */
body.upload-section, body.contact-section, body.about-section, body.home-section, body.notfound-section, body.profile-section{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.upload-content,.contact-content,.about-content, .home-content,.notfound-content, .profile-content {
  flex: 1;
}


/* Contact file choose button */
.contact-file::file-selector-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin:20px 30px 20px 15px;
}

.contact-file::file-selector-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .contact-file::file-selector-button {
    padding: 0 2.6rem;
  }
}

/* End of Contact file choose button */